# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3
*.db
passwords.db

# Virtual Environments
venv/
env/
.venv/

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
